
*,
*::after,
*::before
{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body{
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    background-color: #2A2A2A;
}

.clearfix::after
{
    content: '';
    display: table;
    clear: both;
}

.subtitle
{
    font-weight: bold;
}

#active
{
    background-color: rgb(39, 39, 39);
}


html {
    font-family: 'Poppins', sans-serif;
}

/* Mobile view for 600px*/


.header {
    background-color: #2A2A2A;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.logo {
    width: 650px;
    padding-left: 5%;
    margin-top: 1%;
    min-width: 200px;
}

.headerButtonGroup {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.headerButton {
    padding: 15px 40px;
    transition: 0.5s;
    background-color: rgb(112, 112, 112);
    border: none;
    color: white;
    text-decoration: none;
    font-weight: 600px;
    font-size: 15px;
    cursor: pointer;

    box-shadow: -4px 4px 10px #1D1D1D;
    border-radius: 25px;
    margin: 15px;
    font-family: 'Poppins', sans-serif;
}

.headerButton:hover {
    background-color: whitesmoke;
    color: #2A2A2A;
    font-weight: bold;
}


.nav {
    overflow: hidden;
    list-style: none;
    text-decoration: none;
    background-color: rgb(58, 58, 58);
    display: flex;
    flex-direction: row;
}

.navButtons {
    color: white;
    background-color: inherit;
    border: none;
    padding: 15px;
    font-size: 12px;
    transition: 0.5s;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.navButtons:hover{
    background-color: #ff8500;
    color: white;
}

#dropButton {
    width: 132px;
    margin: 0;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropdown-content {
    display: none;
    background-color: #1D1D1D;
    font-family: inherit;
    font-size: 13px;
    position: absolute;
    min-width: 125px;   
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    display: inline-block;
    text-align: center;
    background-color: rgb(58, 58, 58);
}

.dropdown-content a:hover {
    background-color: #0072bb;
    transition: 0.5s;
    color: white;
}

/* Home CONTENT */
.slider {
    background-color: #1D1D1D;
    width: 100%;
}

.slider-wrapper {
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.slide {
    position: absolute;
    float: left;
    object-fit: cover;
    height: 100%;
    background-position: center center;
    min-width: 100%;
    max-width: 100%;
    opacity: 0;
    transition: opacity 4s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 0.5;
}

.welcome {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 30%;
    color: white;
    font-size: 30px;
    text-shadow: 0px 0px 8px #2B2B2B;
}

.welcome > h2 {
    font-size: 20px;
}

.start-book {
    background-color: rgb(70, 70, 70);
    box-shadow:  0px 0px 84px 23px rgba(0,0,0,0.75);
    width: 50%;
    margin-top: -40px;
    position: relative;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

    color: white;
    text-align: center;
}

.book-now {
    font-size: 35px;
}

.bookButton {
    border: none;
    width: 75%;
    padding: 25px 45px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
}

.bookButton a {
    text-decoration: none;
    
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding:  10px 62px;
    border-radius: 40px;
    border: none;
    transition: 0.5s;
}

.bookButton > a > button {
    background-color: transparent; 
    border: none;
    font-size: 20px;
    color: whitesmoke;
}

.specialty-wrapper {
    padding-bottom: 70px;
    text-align: center;
    margin-top: 5%;
    color: white;
}

.specialty-wrapper > h1 {
    font-size: 45px;
}

.specialty-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.specialties {
    background-color: rgb(70, 70, 70);
    padding: 35px;
    border-radius: 20px;
    box-shadow: 10px 0px 56px -10px rgb(0, 0, 0);
}

.specialties > h1 {
    margin-bottom: 20px;
}


.flightButton {
    background-color: #0072bb;
}
.hotelButton {
    background-color: #ff8500;
}

.bookButton > a:hover > button {
    color: black;
}

.bookButton > a:hover {
    background-color: whitesmoke;
}


.content-background {
    position: relative;
    min-height: 100%;
    width: 100%;
    background-color: #2A2A2A;
}

.content-bg {
    position: absolute;
    object-fit: cover;
    height: 100%;
    background-position: center center;
    min-width: 100%;
    max-width: 100%;
    filter: brightness(50%);
}

/*Testimony CONTENT*/
.testimonies-wrapper {
    position: relative;
    min-height: 100%;
    width: 100%;
    padding:  50px 50px 80px 50px;
}
.testimonies {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.testi-title {
    color: white;
    text-align: center;
    font-size: 50px;
}
.testi-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5%;
    grid-row-gap: 8%;
    grid-column-gap: 2%;
}

.testi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    background-color: #5e5e5ec4;
    text-align: center;
    color: white;
    padding: 15px;
    border-radius: 30px;
    transition: all .3s ease-in-out;
    box-shadow:  0px 0px 84px 10px rgba(0, 0, 0, 0.603);
}

.testi:hover{
    transform: scale(1.04);
}
.testi-profile {
    width: 100px;
    border-radius: 50%;
    margin-top: -60px;
}
.testi-name {
    margin: 10px;
    font-size: 28px;
}
.testi-content {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}


/* FLight - Content*/
.list-wrapper {
    position: relative;
    overflow-y: scroll;
    height: 100vh;
    color: white;
    width: 800px;
    display: flex;
    flex-direction: column;
    max-height: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.123);
    border-radius: 10px;
    box-shadow: 0px 0px 84px 10px rgba(0, 0, 0, 0.603);
}
.flight-company {
    font-weight: bolder;
}
.flight-logo {
    padding: 10px;
    width: 90px;
}
.lists {
    display: flex;
    flex-direction: column; 
    background-color: rgba(31, 31, 31, 0.685);
    padding: 10px 32px;
    border-radius: 10px;
    margin: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.list-title {
    text-align: center;
    color: white;
    position: relative;
    padding: 20px 0px;
    font-size: 40px;
}

.flight-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-button {
    border: none;
    padding: 10px 32px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 8px;
    transition: 0.5s;
    margin-top: 10px;
}

.book-button a {
    text-decoration: none;
}

.book-button button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 15px;
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.book-button:hover {
    background-color: #ff8500;
}


.list-detail-left {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.flight-detail-right {
    display: flex;
    flex-direction: column;
}

.flight-detail-inside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    justify-items: center;
    align-content: center;
}

.hotel-pic {
    width: 120px;
    height: 100%;
    margin-top: 10px;
}
.hotel-detail-left {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}

.hotel-detail-right {
    display: flex;
    flex-direction: column;
}
.hotel-detail-inside {
    display: flex;
    flex-direction: column;
}
.hotel-detail-inside > h2{
    font-size: 20px;
}

.hotel-name{
    padding-top: 8px;
    padding-bottom: 10px;
}

.hotel-price {
    font-size: 18px;
    text-align: center;
}

/*Register - Login*/

.form-wrapper {
    overflow-y: scroll;
    background-color: #ff8500;
    padding: 20px;
}
.reg-wrapper {
    position: absolute;
    background-color: #2A2A2A;
    
    border-radius: 10px;
    left: 35%;
    top: 20%;
    width: 450px;
    box-shadow: 0px 0px 84px 10px rgba(0, 0, 0, 0.603);
    color: white;
    margin-left: auto;
    margin-right: auto;
    
}
.reg-content {
    padding: 30px;
}
.reg-title {
    text-align: center;
    margin-bottom: 30px;
}
.form-content {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
}

#reg-button {
    border: none;
    background-color: #ff8500;
    padding: 10px 30px;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

#reg-button:hover {
    background-color: #0072bb;
}

.labels {
    display: flex;
    flex-direction: column;
}

.labels > label {
    margin-bottom: 6px;
}
.inputs {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.requirement {
    margin-top: 30px;
}
.inputs > .input {
    margin-bottom: 9px;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

.account-regist > a {
    color: white;
}
.account-regist > a:hover {
    color: #ff8500;
}
/*FOOTER*/
footer{
    background-color: #2A2A2A;
    text-align: center;
    color: whitesmoke;
    position: absolute;
    width: 100%;
    
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.about-wrapper {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.about-sites {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.abouts {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
}

.abouts:hover {
    color: #ff8500;
}
.newsletter {
    background-color: #2A2A2A;
    display: inline-block;
    padding: 20px;
}

.telephone {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
}

.telephone:hover {
    color: #ff8500;
}

/* ::placeholder {
    color: whitesmoke;
} */

.subscription-email {
    border: none;
    border-bottom: 2px solid whitesmoke;
    width: 200px;
    height: 25px;
    background-color: transparent;
    text-align: center;
    color: whitesmoke;

}
.subscribe-button{
    background-color: #ff8500;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    font-weight: 500;
    transition: 0.5s;
    font-size: 12px;
    cursor: pointer;
}
.subscribe-button:hover {
    background-color: #0072bb;
}
.newsletter-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.copyright {
    background-color: #0072bb;
    color: white;
    margin-top: 20px;
    font-size: 10px;
    padding: 10px;
}

@media screen and (max-width: 1435px){
    .testimonies {
        bottom: 15%;
        left: 14%;
    }
    .testi-title{
        font-size: 45px;
    }
    .testi-name {
        font-size: 20px;
    }
    .testi-content {
        font-size: 15px;
    }
}

@media screen and (max-width: 970px){
    .header{
        display: block;
        text-align: center;
    }
    .headerButtonGroup {
        display: flex;
        justify-content: center;
    }
    .logo {
        width: 450px;
        padding-top: 10px;
        padding-left: 0;
        min-width: 0;
    }

    .head-message {
        font-size: 50px;
    }

    .specialty-content {
        width: 90%;
    }
    

    .bookButton > a{
        padding: 10px 30px;
    } 

    .footer-wrapper {
        flex-direction: column;
    }

    .about-wrapper {
        width: 100%;
    }
    .testimonies-wrapper {
        bottom: 17%;
        width: 90%;
        left: 5%;
    }
    .testi-group {
        grid-template-columns: 1fr 1fr;
        padding-bottom: 10%;;
    }
    .testi-name {
        font-size: 18px;
    }
    .testi-content {
        font-size: 12px;
        padding: 15px;
    }

    .list-wrapper{
        width: 600px;
    }

    .flight-detail-inside {
        font-size: 13px;
    }

    .list-detail-left {
        width: 50%;
    }

    .hotel-detail-right {
        width: 40%;
    }
    .hotel-price {
        font-size: 15px;
    }
    .hotel-detail-inside > h2{
        font-size: 12px;
    }
    .hotel-detail-inside > h3{
        font-size: 12px;
    }

    .hotel-pic {
        width: 100px;
    }

    .reg-wrapper {
        left: 28%;
    }
    
}
@media screen and (max-width: 750px) {
    .specialty-content {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;;
    }
    .head-message {
        font-size: 30px;
    }
    .testimonies-wrapper {
        bottom: 12.5%;
        width: 90%;
        left: 0%;
    }
    .testi-content {
        padding: 10px;
    }
    .testi-group {
        display: block;
        margin-top: 50px;
    }
    .testi-group > .testi {
        margin-bottom: 60px;
    }
    .list-wrapper{
        width: 500px;
    }
    .flight-logo{
        width: 50px;
        height: 100%;
        padding: 0px;
    }
    .flight-price {
        font-size: 15px;
        text-align: center;
    }

    .list-detail-left {
        align-items: center;
    }
    .hotel-pic {
        width: 80px;
    }
    .hotel-detail-inside > h2{
        font-size: 15px;
        text-align: center;
    }
    .hotel-detail-inside > h3{
        text-align: center;
    }
    /* .book-button > button {
        font-size: 12px;
    } */
    .reg-wrapper {
        left: 20%;
    }
    
    

}
@media screen and (max-width: 500px) {
 
    .logo {
        width: 300px;
    }

    .testimonies {
        bottom: 15%;
        width: 80%;
    }
    .testi-profile {
        width: 80px;
    }

    .testi-group {
        margin-top: 80px;
    }
    footer {
        font-size: 12px;
    }

    .newsletter {
        width: 80%;
    }
    .list-wrapper{
        width: 400px;
    }

    .book-button {
        padding: 5px 10px;
        font-size: 12px;
    }

    .flight-price {
        font-size: 13px;
    }

    .list-detail-left {
        width: 55%;
    }
    .flight-detail-inside {
        font-size: 10px;
    }

    .flight-logo {
        padding: 5px;
    }
    .hotel-detail-inside > h2{
        font-size: 12px;
    }

    .hotel-price {
        font-size: 12px;
    }
    .reg-wrapper {
        left: 5%;
    }
    .bookButton > a{
        padding: 10px 30px;
    }

    .start-book {
        width: 70%;
    }

}